@page
@model SUDO.Pages.BrowseOffersModel
@{
}

@using Microsoft.AspNetCore.Identity
@using SUDO.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1 class="display-4">Browse Offers</h1>
@if (Model.Offers.Offers != null) {
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Driver</th>
                <th scope="col">Destination</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Cost</th>
                <th scope="col">Passengers</th>
                <th scope="col">Non Smoking</th>
                <th scope="col">Is Full</th>
                <th scope="col">Apply</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.Offers.Offers)
            {
                <tr>
                    <th>@offer.DriverName</th>
                    <th>@offer.Destination</th>
                    <th>@offer.Departure.ToString("MMM dd, yyyy | HH:mm")</th>
                    <th>@offer.Arrival.ToString("MMM dd, yyyy | HH:mm")</th>
                    <th>$@offer.Cost</th>
                    <th>@offer.PassengerCount / @offer.MaxPassengerCount</th>
                    <th>@offer.NonSmoking</th>
                    <th>@offer.IsFull</th>
                    <th>
                        @if (UserManager.GetUserId(User) == offer.DriverId){
                            <a class="btn btn-outline-primary" asp-page="/ManageOffer" asp-route-offerId="@offer.Id" >Manage</a>
                        } else if (offer.IsFull || !SignInManager.IsSignedIn(User)) {
                            <button class="btn btn-outline-secondary" disabled>Apply</button>
                        } else {
                            <form method="post">
                                <input class="btn btn-outline-success" type="submit" asp-page-handler="Apply" asp-route-OfferId="@offer.Id" value="Apply"/>
                            </form>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
}